{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>404</title>
      <link rel="stylesheet" href="{% static 'css/../../static/admin/css/404.css' %}">

               <!-- Favicon para navegadores -->
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-96x96.png' %}" sizes="96x96">

    <!-- Favicon para dispositivos Apple -->
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-57x57.png' %}" sizes="57x57">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-60x60.png' %}" sizes="60x60">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-72x72.png' %}" sizes="72x72">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-76x76.png' %}" sizes="76x76">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-114x114.png' %}" sizes="114x114">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-120x120.png' %}" sizes="120x120">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-144x144.png' %}" sizes="144x144">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-152x152.png' %}" sizes="152x152">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-180x180.png' %}" sizes="180x180">

    <!-- Favicon para Android -->
    <link rel="icon" href="{% static 'css/../../static/admin/icons/android-icon-192x192.png' %}" sizes="192x192" type="image/png">

    <!-- Favicon para Windows -->
    <meta name="msapplication-square70x70logo" content="{% static 'css/../../static/admin/icons/mstile-70x70.png' %}">
    <meta name="msapplication-square150x150logo" content="{% static 'css/../../static/admin/icons/mstile-150x150.png' %}">
    <meta name="msapplication-square310x310logo" content="{% static 'css/../../static/admin/icons/mstile-310x310.png' %}">
   </head>
   <body>
      <div id="error-page">
         <div class="content">
            <h2 class="header" data-text="404">
               404
            </h2>
            <h4 data-text="Opps! Page not found">
               Opps! Page not found
            </h4>
            <p>
               Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.
            </p>
            <div class="btns">
               <a href="https://www.codingnepalweb.com/">return home</a>
               <a href="https://www.codingnepalweb.com/">report problem</a>
            </div>
         </div>
      </div>
   </body>
</html>