{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/../../static/admin/css/dashboard_ansible.css' %}">

    <!-- Iconscout CSS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Dashboard</title>

            <!-- Favicon para navegadores -->
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-96x96.png' %}" sizes="96x96">

    <!-- Favicon para dispositivos Apple -->
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-57x57.png' %}" sizes="57x57">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-60x60.png' %}" sizes="60x60">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-72x72.png' %}" sizes="72x72">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-76x76.png' %}" sizes="76x76">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-114x114.png' %}" sizes="114x114">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-120x120.png' %}" sizes="120x120">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-144x144.png' %}" sizes="144x144">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-152x152.png' %}" sizes="152x152">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-180x180.png' %}" sizes="180x180">

    <!-- Favicon para Android -->
    <link rel="icon" href="{% static 'css/../../static/admin/icons/android-icon-192x192.png' %}" sizes="192x192" type="image/png">

    <!-- Favicon para Windows -->
    <meta name="msapplication-square70x70logo" content="{% static 'css/../../static/admin/icons/mstile-70x70.png' %}">
    <meta name="msapplication-square150x150logo" content="{% static 'css/../../static/admin/icons/mstile-150x150.png' %}">
    <meta name="msapplication-square310x310logo" content="{% static 'css/../../static/admin/icons/mstile-310x310.png' %}">
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="images/logo.png" alt="">
            </div>
            <span class="logo_name">TF Ansible</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="{% url 'inventory' %}">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Inventory</span>
                </a></li>
                <li><a href="{% url 'playbook' %}">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Playbook</span>
                </a></li>
                <li><a href="{% url 'jobs' %}">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Jobs</span>
                </a></li>
            </ul>
            <ul class="logout-mode">
                <li><a href="{% url 'logout' %}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout ({{ user.username }})</span>
                </a></li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
        </div>
        <div class="dash-content">
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Dashboard</span>
                </div>
                <div class="activity-data">
                    {% if jobs %}
                    <div class="data names">
                        <span class="data-title">Task</span>
                        {% for item in jobs %}
                            <a href="{% url 'details-run-job' id=item.id %}" class="data-list">{{ item.job.name }} #{{ item.id }}</a>
                        {% endfor %}
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        {% for item in jobs %}
                            {% if item.status.name == "Fehlgeschlagen" %}
                                <button disabled class="btn failed">
                                    <i class="uil uil-exclamation-triangle"></i>
                                    Fehlgeschlagen
                                </button>
                            {% elif item.status.name == "Erfolgreich" %}
                                <button disabled class="btn success">
                                    <i class="uil uil-check-circle"></i>
                                    Erfolgreich
                                </button>
                            {% else %}
                                <button disabled class="btn failed">
                                    <i class="uil uil-exclamation-triangle"></i>
                                    Fehlgeschlagen
                                </button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="data user">
                        <span class="data-title">User</span>
                        {% for item in jobs %}
                            <span class="data-list">{{ item.username }}</span>
                        {% endfor %}
                    </div>
                    <div class="data start">
                        <span class="data-title">Start</span>
                        {% for item in jobs %}
                            <span class="data-list">{{ item.start_time }}</span>
                        {% endfor %}
                    </div>
                    <div class="data playbook">
                        <span class="data-title">Playbook</span>
                        {% for item in jobs %}
                            {% if item.job.name|length > 15 %}
                                <span class="data-list">{{ item.job.name|slice:":15" }}...</span>
                                {% else %}
                                    <span class="data-list">{{ item.job.name }}</span>
                                {% endif %}
                        {% endfor %}
                    </div>
                    <div class="data inventory">
                        <span class="data-title">Inventory</span>
                        {% for item in jobs %}
                            <span class="data-list">{{ item.job.inventory.name }}</span>
                        {% endfor %}
                    </div>
                    <div class="data action">
                        <span class="data-action">Aktion</span>
                        {% for item in jobs %}
                            <a href="{% url 'create-run-job' id=item.job.id %}" class="btn run">
                                <i class="uil uil-play"></i>
                                Run
                            </a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="no-data">
                        Keine Daten verfügbar
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/../../static/admin/js/dashboard_ansible.js' %}"></script>
</body>
</html>
