{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ansible</title>
    <link rel="stylesheet" href="{% static 'css/../../static/admin/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

            <!-- Favicon para navegadores -->
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-96x96.png' %}" sizes="96x96">

    <!-- Favicon para dispositivos Apple -->
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-57x57.png' %}" sizes="57x57">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-60x60.png' %}" sizes="60x60">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-72x72.png' %}" sizes="72x72">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-76x76.png' %}" sizes="76x76">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-114x114.png' %}" sizes="114x114">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-120x120.png' %}" sizes="120x120">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-144x144.png' %}" sizes="144x144">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-152x152.png' %}" sizes="152x152">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-180x180.png' %}" sizes="180x180">

    <!-- Favicon para Android -->
    <link rel="icon" href="{% static 'css/../../static/admin/icons/android-icon-192x192.png' %}" sizes="192x192" type="image/png">

    <!-- Favicon para Windows -->
    <meta name="msapplication-square70x70logo" content="{% static 'css/../../static/admin/icons/mstile-70x70.png' %}">
    <meta name="msapplication-square150x150logo" content="{% static 'css/../../static/admin/icons/mstile-150x150.png' %}">
    <meta name="msapplication-square310x310logo" content="{% static 'css/../../static/admin/icons/mstile-310x310.png' %}">
</head>
<body>
    <div class="image-container">
        <img src="{% static 'img/../../static/admin/img/TFBern_Logo_RGB.jpg' %}" alt="Logo">
    </div>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Welcome to Ansible</span></div>
        <form action="#" method="post">
          {% csrf_token %}
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" name="{{ form.username.name }}" placeholder="Username" required id="id_{{ form.username.name }}" class="{{ form.username.field.widget.attrs.class }}">
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" name="{{ form.password.name }}" placeholder="Password" required id="id_{{ form.password.name }}" class="{{ form.password.field.widget.attrs.class }}">
          </div>
          <div class="pass"><p>{{ error_message }}</p></div>
          <div class="row button">
            <input type="submit" value="Login">
          </div>
        </form>
      </div>
    </div>
</body>
</html>