{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Job erstellen</title>
      <link rel="stylesheet" href="{% static 'css/../../static/admin/css/detailsinventory.css' %}">
      <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

               <!-- Favicon para navegadores -->
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" href="{% static 'css/../../static/admin/icons/favicon-96x96.png' %}" sizes="96x96">

    <!-- Favicon para dispositivos Apple -->
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-57x57.png' %}" sizes="57x57">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-60x60.png' %}" sizes="60x60">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-72x72.png' %}" sizes="72x72">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-76x76.png' %}" sizes="76x76">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-114x114.png' %}" sizes="114x114">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-120x120.png' %}" sizes="120x120">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-144x144.png' %}" sizes="144x144">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-152x152.png' %}" sizes="152x152">
    <link rel="apple-touch-icon" href="{% static 'css/../../static/admin/icons/apple-touch-icon-180x180.png' %}" sizes="180x180">

    <!-- Favicon para Android -->
    <link rel="icon" href="{% static 'css/../../static/admin/icons/android-icon-192x192.png' %}" sizes="192x192" type="image/png">

    <!-- Favicon para Windows -->
    <meta name="msapplication-square70x70logo" content="{% static 'css/../../static/admin/icons/mstile-70x70.png' %}">
    <meta name="msapplication-square150x150logo" content="{% static 'css/../../static/admin/icons/mstile-150x150.png' %}">
    <meta name="msapplication-square310x310logo" content="{% static 'css/../../static/admin/icons/mstile-310x310.png' %}">
   </head>
   <body>
      <div class="container">
         <div class="text">Job bearbeiten</div>
         <form method="post">
            {% csrf_token %}
            <div class="form-row">
               <div class="input-data focus-line half-length" style="flex:1; min-width: 250px; margin-right: 20px;">
                   {{ form.name }}
                  <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
               </div>
               <div class="select-menu" style="flex:1; min-width: 250px;">
                  <div class="select-btn">
                     <span class="sBtn-text">Gruppe auswählen</span>
                     <i class="bx bx-chevron-down"></i>
                  </div>
                  <ul class="options">
                      {% for value, label in form.group.field.choices %}
                          <li class="option">
                              <label>
                                  <input type="radio" name="group" value="{{ value }}" {% if form.group.value == value %}checked{% endif %}>
                                  <span class="option-text">{{ label }}</span>
                              </label>
                          </li>
                      {% endfor %}
                  </ul>
               </div>
               <div class="select-menu" style="flex:1; min-width: 250px;">
                  <div class="select-btn">
                     <span class="sBtn-text">Playbook auswählen</span>
                     <i class="bx bx-chevron-down"></i>
                  </div>
                  <ul class="options">
                      {% for value, label in form.playbook.field.choices %}
                          <li class="option">
                              <label>
                                  <input type="radio" name="playbook" value="{{ value }}" {% if form.playbook.value == value %}checked{% endif %}>
                                  <span class="option-text">{{ label }}</span>
                              </label>
                          </li>
                      {% endfor %}
                  </ul>
               </div>
               <div class="select-menu" style="flex:1; min-width: 250px;">
                  <div class="select-btn">
                     <span class="sBtn-text">Inventory auswählen</span>
                     <i class="bx bx-chevron-down"></i>
                  </div>
                  <ul class="options">
                      {% for value, label in form.inventory.field.choices %}
                          <li class="option">
                              <label>
                                  <input type="radio" name="inventory" value="{{ value }}" {% if form.inventory.value == value %}checked{% endif %}>
                                  <span class="option-text">{{ label }}</span>
                              </label>
                          </li>
                      {% endfor %}
                  </ul>
               </div>
            </div>
            <div class="form-row">
               <div style="width:100%" class="input-data focus-line half-length">
                   {{ form.description }}
                  <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
               </div>
            </div>
<div class="form-row-container">
                <div class="form-row">
                    <button type="submit" name="action" value="edit" class="submit-btn">Bearbeiten</button>
                </div>
                <div class="form-row">
                    <button type="submit" name="action" value="delete" class="submit-btn">Löschen</button>
                </div>
                <div class="form-row">
                    <button type="submit" name="action" value="cancel" class="submit-btn">Abbrechen</button>
                </div>
            </div>
         {{ error_message }}
         </form>
      </div>
      <script src="{% static 'js/../../static/admin/js/createinventory.js' %}"></script>
      <script>
document.addEventListener("DOMContentLoaded", function() {
    // Seleciona todos os botões dropdown
    const selectButtons = document.querySelectorAll(".select-btn");

    // Inicializar o texto do botão com o valor atualmente selecionado
    selectButtons.forEach(button => {
        const initialSelectedOption = button.nextElementSibling.querySelector('input[type="radio"]:checked');
        if (initialSelectedOption) {
            const selectedText = initialSelectedOption.parentElement.querySelector(".option-text").textContent;
            button.querySelector(".sBtn-text").textContent = selectedText;
        }

        // Adicionar evento de clique para mostrar/ocultar o menu de opções
        button.addEventListener("click", function() {
            const optionsMenu = this.nextElementSibling;
            optionsMenu.style.display = optionsMenu.style.display === 'block' ? 'none' : 'block';

            // Fechar todos os outros menus de opções exceto o atual
            selectButtons.forEach(otherButton => {
                if (otherButton !== button) {
                    otherButton.nextElementSibling.style.display = 'none';
                }
            });
        });

        // Atualiza o texto do botão com a opção selecionada e fecha o menu
        const options = button.nextElementSibling.querySelectorAll("li");
        options.forEach(option => {
            option.addEventListener("click", function() {
                const selectedText = this.querySelector(".option-text").textContent;
                button.querySelector(".sBtn-text").textContent = selectedText;
                button.nextElementSibling.style.display = 'none'; // Fecha o menu após a seleção
            });
        });
    });

    // Adiciona um listener no documento para fechar os menus ao clicar fora
    document.addEventListener("click", function(e) {
        if (!e.target.matches('.select-btn, .select-btn *, .options, .options *')) {
            document.querySelectorAll(".options").forEach(optionsMenu => {
                optionsMenu.style.display = 'none';
            });
        }
    });
});
</script>

   </body>
</html>